{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

<!-- style -->
{% block styles %}
{{ block.super }}
<link href="{% static 'site/css/price_section.css' %}" rel="stylesheet">
<link href="{% static 'site/css/style.css' %}" rel="stylesheet">
<link href="{% static 'site/css/price.css' %}" rel="stylesheet">
{% endblock styles %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="Price" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<li><a  href="{% url 'accounts:login' %}" >Log in</a></li>
<li><a  href="{% url 'accounts:signup' %}" >Sigh Up</a></li>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}



<div class="container">
  <table class="table table-bordered table-hover SITE-table">
  <thead>
  <tr class="SITE-trColor">
    <th>Features</th>
    <th>Express Linux VPS</th>
    <th>Basic Linux VPS</th>
    <th>Professional Linux VPS</th>
    <th>Advanced Linux VPS</th>
    <th>Remarks on Features</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Memory:</td>
    <td>2 GB</td>
    <td>4 GB</td>
    <td>8 GB</td>
    <td>16 GB</td>
    <td> </td>
  </tr>
  <tr>
    <td>Disk Space:</td>
    <td>40GB SSD (C:) + 10GB SATA (D:)</td>
    <td>60GB SSD (C:) + 40GB SATA (D:)</td>
    <td>80GB SSD (C:) + 120GB SATA (D:)</td>
    <td>120GB SSD (C:) + 280GB SATA (D:)</td>
    <td> </td>
  </tr>
  <tr>
    <td>CPU Cores:</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td> </td>
  </tr>
  <tr>
    <td>Bandwidth:</td>
    <td>10 Mbps Unmeteredhn</td>
    <td>100 Mbps Unmeteredhn</td>
    <td>1000 Mbps Unmeteredhn</td>
    <td>1000 Mbps Unmeteredhn</td>
    <td>Shared with other clients.</td>
  </tr>
  <tr>
    <td>VHD Backup:</td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span>Once per four weeks</td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span>Once per four weeks</td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span>Once per four weeks</td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span>Once per four weeks</td>
    <td>Backup SSD drive only but not SATA drive.</td>
  </tr>
  <tr>
    <td>DDoS Protection:</td>
    <td><span><img src="{% static 'site/img/icon_multiply.gif' %}"></span></td>
    <td><span><img src="{% static 'site/img/icon_multiply.gif' %}"></span></td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span>1 Gbps DDOS Mitigation</td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span>2 Gbps DDOS Mitigation</td>
    <td> </td>
  </tr>
  <tr>
    <td>Free DNS and Email Services:</td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span></td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span></td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span></td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span></td>
    <td>Use our shared DNS service and SmarterMail service for free</td>
  </tr>
  <tr>
    <td>Dedicated IPs:</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td> </td>
  </tr>
  <tr>
    <td>99.99% Up Time Guarantee:</td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span></td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span></td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span></td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span></td>
    <td> </td>
  </tr>
  <tr>
    <td>Technical Support:</td>
    <td>Via Email + Live Chat</td>
    <td>Via Email + Live Chat</td>
    <td>Via Email + Live Chat</td>
    <td>Via Email + Live Chat</td>
    <td> </td>
  </tr>
  <tr>
    <td>Monthly Rate:</td>
    <td>$6.99/month</td>
    <td>$12.99/month</td>
    <td>$23.99/month</td>
    <td>$43.99/month</td>
    <td> </td>
  </tr>
  <tr>
    <td>Prepaid Semi-Annual Rate:</td>
    <td>$6.49/month</td>
    <td>$11.99/month</td>
    <td>$21.99/month</td>
    <td>$40.99/month</td>
    <td> </td>
  </tr>
  <tr>
    <td>Prepaid Annual Rate:</td>
    <td>$5.99/month</td>
    <td>$10.99/month</td>
    <td>$19.99/month</td>
    <td>$37.99/month</td>
    <td> </td>
  </tr>
  <tr>
    <td>Prepaid Biennial Rate:</td>
    <td>$4.99/month</td>
    <td>$8.99/month</td>
    <td>$15.99/month</td>
    <td>$31.99/month</td>
    <td> </td>
  </tr>
  <tr>
    <td>Setup Fee:</td>
    <td>$4.99</td>
    <td>$4.99</td>
    <td>$4.99</td>
    <td>$4.99</td>
    <td> </td>
  </tr>
  </tbody>
</table>
  <!-- Features Table-->
  <table class="table table-hover table-striped">
  <thead>
  <h3>Support and Management Features</h3>
  </thead>
  <tbody>
  <tr>
    <td>Root Access:</td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span></td>
    <td></td>
  </tr>
  <tr>
    <td>24x7x365 Support:</td>
    <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span></td>
    <td></td>
  </tr>
  <tr>
    <td>Server Reboot:</td>
    <td>Free</td>
    <td></td>
  </tr>
  <tr>
    <td>Operating System Re-Installation:</td>
    <td>Free</td>
    <td></td>
  </tr>
  </tbody>
</table>
  <!-- Support and Management Features Table-->
  <table class="table table-hover table-striped">
    <thead>
    <h3>Software Features</h3>
    </thead>
    <tbody>
    <tr>
      <td>Guest Operating System:</td>
      <td><a href="http://www.centos.org/">CentOS</a> Free , <a href="http://www.ubuntu.com/">Ubuntu</a> Free,<a href="https://www.debian.org/">Debian</a> Free ,<a href="http://fedoraproject.org/">Fedora</a> Free</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Other Guest Operating System:</td>
      <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span>Please contact us if you need any other Linux distributions.</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Apache Web Server:</td>
      <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>MySQL Database:</td>
      <td><span><img src="{% static 'site/img/icon_check.gif' %} "></span></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    </tbody>
  </table>
  <!-- Software Features Table-->
  <table class="table table-hover table-striped">
    <thead>
    <h3>Data Center Features</h3>
    </thead>
    <tbody>
    <tr>
      <td>Data Center:</td>
      <td>Dallas, Texas USA</td>
      <td></td>
    </tr>
    <tr>
      <td>Speed Test:</td>
      <td><a href="http://45.35.0.3/test_100mb.zip">Download 100MB speed test file</a></td>
      <td></td>
    </tr>
    <tr>
      <td>IP Ping:</td>
      <td>45.35.0.3</td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <!-- Data Center Features Table-->
  <table class="table table-hover table-striped">
    <thead>
    <h3>Optional Addons</h3>
    </thead>
    <tbody>
    <tr>
      <td>Additional CPU Core:</td>
      <td>$5.00/month</td>
      <td></td>
    </tr>
    <tr>
      <td>Additional Memory:</td>
      <td>$5.00/month/GB</td>
      <td></td>
    </tr>
    <tr>
      <td>Additional SSD Disk Space:</td>
      <td>$5.00/month/10GB</td>
      <td></td>
    </tr>
    <tr>
      <td>Additional SATA Disk Space:</td>
      <td>$5.00/month/50GB</td>
      <td></td>
    </tr>
    <tr>
      <td>Additional Dedicated IP:</td>
      <td>$2.00/month/IP</td>
      <td>ARIN Justification Required</td>
    </tr>
    <tr>
      <td>Cisco Hardware Firewall:</td>
      <td>$9.99/month</td>
      <td>Cisco ASA 5505</td>
    </tr>
    </tbody>
  </table>
  <!-- Optional Addons Table-->
</div>

{% endblock container %}

{% block scripts %}

{% endblock scripts %}
