<footer>
            <div class="container">
                <div class="row footer-top">
                    <div class="col-xs-4">
                        <h3>Hosting Center</h3>
                        <ul class="list-unstyled">
                            <li><a title="Database Hosting Services" href="{{ settings.SITE_BASE_URL }}/Hosting.aspx">Database Hosting Services</a></li>
                            <li><a title="Enterprise Hosting Solutions" href="{{ settings.SITE_BASE_URL }}/Solutions.aspx">Enterprise Hosting Solutions</a></li>
                            <li><a title="Server Management Service" href="{{ settings.SITE_BASE_URL }}/Management.aspx">Server Management Service</a></li>
                            <li><a title="Domain Registration" href="{{ settings.SITE_BASE_URL }}/Domain.aspx">Domain Registration</a></li>
                            <li><a title="SSL Certificates" href="{{ settings.SITE_BASE_URL }}/SSL.aspx">SSL Certificates</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <h3>Support Center</h3>
                        <ul class="list-unstyled">
                            <li><a title="Helpdesk" href="{{ settings.SITE_BASE_URL }}/portal/">Helpdesk</a></li>
                            <li><a title="Frequently Asked Questions" href="{{ settings.SITE_BASE_URL }}/FAQ.aspx">Frequently Asked Questions</a></li>
                            <li><a title="Knowledgebase" href="{{ settings.SITE_BASE_URL }}/portal/kb/">Knowledgebase</a></li>
                            <li><a title="WebsitePanel Control Panel" href="{{ settings.SITE_BASE_URL }}/cp3001/">WebsitePanel Control Panel</a></li>
                            <li><a title="Client Billing System" href="{{ settings.SITE_BASE_URL }}/clients/">Client Billing System</a></li>
                            <li><a title="Bandwidth Usage Graph" href="{{ settings.SITE_BASE_URL }}/clients/">Bandwidth Usage Graph</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <h3>Information Center</h3>
                        <ul class="list-unstyled">
                            <li><a title="About Us" href="{{ settings.SITE_BASE_URL }}/About.aspx">About Us</a></li>
                            <li><a title="Why Choose Our Services" href="{{ settings.SITE_BASE_URL }}/Why.aspx">Why Choose Our Services</a></li>
                            <li><a title="Client Testimonials" href="{{ settings.SITE_BASE_URL }}/Network.aspx">Client Testimonials</a></li>
                            <li><a title="Career Opportunities" href="{{ settings.SITE_BASE_URL }}/Network.aspx">Career Opportunities</a></li>
                            <li><a title="Network and Data Center" href="{{ settings.SITE_BASE_URL }}/Network.aspx">Network and Data Center</a></li>
                            <li><a title="Terms Of Service" href="{{ settings.SITE_BASE_URL }}/TOS.aspx">Terms Of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row footer-bottom">
                    <div class="col-lg-6">
                        <p>&copy; Company {% now 'Y' %}</p>
                    </div>
                    <div class="col-lg-6 text-right">
                        Connect with us on
                        <a href="#"><i class="fa fa-facebook"></i> Facebook</a> or
                        <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                </div>
            </div>
        </footer>
